<div class="centered-content">
    <div class="model-box">
      <h1 class = "title">Update Task</h1>

      <form  class="example-form" >
        <mat-form-field  class="example-full-width" appearance="fill">
          <mat-label>Edit task</mat-label>
          <input #taskTitleInput type="task" matInput 
                 placeholder="edit  task">
        </mat-form-field>
      </form>
      
             
             
           
          
             <div class='btns'>
                <button class = 'btn' matSuffix  mat-raised-button color="accent" (click)="updateTaskClick(taskTitleInput.value)" >
                    Save</button>
                <button class = 'btn' routerLink = "/" matSuffix  mat-raised-button color="accent">
                        Cancel </button>
             </div>
        
                

    </div>
</div>
