<div class="centered-content">
    <div class="model-box">
      <h1 class = "title">Update  List</h1>

        
            
      <form  class="example-form" >
        <mat-form-field  class="example-full-width" appearance="fill">
          <mat-label>Update list</mat-label>
          <input #listTitleInput type="task" matInput 
                 placeholder="Update list">
        </mat-form-field>
      </form>
      
            
             
           
         
          
             <div class='btns'>
                <button class = 'btn' matSuffix  mat-raised-button color="accent" (click) = "updateListClick(listTitleInput.value)" >
                    Save</button>
                <button class = 'btn' routerLink = "/" matSuffix  mat-raised-button color="accent">
                        Cancel </button>
             </div>
        
                

    </div>
</div>
